
/* body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
} */
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
.jumbotron {
    background-color: lavender;
    color: black;
    padding: 0 100px;
    font-family: serif;
}
/* .container-fluid {
    padding: 40px 50px;
} */
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}
.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.nb {
    margin-bottom: 0;
    background-color: #153D51;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
    font-family: sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    font-size: inherit;
    font-weight: bold;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: skyblue !important;
    background-color: transparent !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
a.navbar-brand img{
    height: 30px;
    width: 30px;
    margin: -5px;
    border-radius: 50%;
} 

.container-fluid.c1{
    background-color: #153D51;
    color:white;
}
.row table tr{
    margin-bottom:2px;
}
.row table tr td label{
    width :210px;
}
.row table tr td select{
    padding:5px;
    width:165px;
}

.c1{
    height: 200px;
    text-align: center;
}
.fm { 
    width: 100%;
}
.fl{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 48px;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0px;
}
.btn-primary{
    margin: auto;
}
.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin: 11px 33%;
    font-size: inherit;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
    opacity: 0;
    transform: translateY(70%);
    }
    100% {
    opacity: 1;
    transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    }
    100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
    text-align: center;
    margin: 25px 0;
    }
    .btn-lg {
    width: 100%;
    margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
    font-size: 150px;
    }
}


/* Set height of body and the document to 100% */
body{
   
    font-family:serif;
    }
    html{
        background: slategray;
    }
    /* Style tab links */
    .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 17px;
    width: 150px;
    
    }

    .tablink:hover {
    background-color: #777;
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;

    }
.row .col-md-2{
    text-align: center;
}

/* #tb1{
    width: 61%;
}
#tb2{
    width: 10%;
} */
#tb3{
    /* width: 61%; */
    height:80px ;
    float: left;
    /* white-space: nowrap; */
    overflow: scroll;
    /* text-align: center; */
}
#tb3::-webkit-scrollbar-thumb {
    background: blue;
}
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
#tb4{
    /* width: 10%; */
    text-align: center;
}

#tb5{
    width: 0.5%;
}
#tr{
    background-color: gray;
    color: white;
    padding: 8.5px 0px !important;;
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid blue;
    border-bottom: none;
    font-weight: bold;
    
}
#tr1{
    
    color: #28a745;
}
#tr2{
    color: red;
}
#tr3{
    color: black;
}

.nth .row:nth-child(even) {
    background:#EDF0F1;
    }
.nth .row:nth-child(odd) {
    background:white;
}
.nth .row:hover{
    background-color: grey;
    color: white !important;
    border-radius: 10px;
}
#db1{
    /* min-width: 540px; */
    max-width: 603px;
    height: 150px;
    padding-bottom: 20px;
    /* float: left; */
    /* white-space: nowrap; */
    /* overflow-x: scroll; */
    overflow-y: scroll;

}
#db1::-webkit-scrollbar-thumb {
    background: blue;
}
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}


#db2,#db3{
    height: 150px;
    overflow-y: scroll;
}
#db1:hover,#db2:hover,#db3:hover{
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 10px,0px;
}


.header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(./image/header1.jpg) center center no-repeat;
    background-size: cover;
    height: 650px;
    width: -webkit-fill-available;
}

.text-container{
    margin-top: 300px;
    margin-left: 0%;
    margin-right: 0%;
    color: white;
    text-align: center;
}

.text-container a{
    color: #fff;
    text-decoration: none;
    padding: 6px 89px;
    border: 0.125rem solid #14bf98;
    border-radius: 0.25rem;
    background-color: #14bf98;
    font-size: 19px;
}
.text-container a:hover{
    background: transparent;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: white !important;
}

/* --------FOOTER CSS ------------ */

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

#footer {
    border-top: 5px solid #CDB380;
    background: #033649 none repeat scroll 0% 0%;
    padding-top: 30px;
    margin-top: 60px;
    clear: both;
    color: #AAA;
    display: block;
}

#footer .widgettitle {
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: medium none;
}
#footer h4 {
    color: #FFF;
}

#footer ul {
    list-style: outside none none;
}

#footer li {
    padding: 7px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin: 0px;
}

#footer li a {
    color: #DDD;
}

#sub-floor {
    color: #AAA;
    background: #031634 none repeat scroll 0% 0%;
    padding: 10px 0px;
}



/* --------FOOTER CSS ------------ */

/* Other CSS */

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background: none;
}

/* -----------Animation text---------- */
.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: chartreuse;
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: deeppink;
    transform-origin: 0.5 0;
  }
  
  .ml5 .ampersand {
    font-family: Baskerville, serif;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }